iframe {
	/*float: right;*/
	/*position: absolute;
	right: 20px;
	bottom: 20px;*/
	position: relative;
	right: -60px;
	top: -3px;
}

.paybox {
	margin: 0 auto;
	width: 600px;

}
body {
	padding-top: 200px;
}
.pager {
	margin-top: 50px;
	margin-bottom: 0px;
}